/* Style Header and Footer in this file */
  
h1 {
    font-family: 'Cousine', monospace;
    color: darkblue
}

.title {
    margin: auto;
    width: 50%;
    text-align: center;
}

a {
   text-decoration: underline;
}

  a:link {
    color: rgb(1, 21, 44);
  }
  
  a:visited {
    color: rgb(138, 23, 204);
  }
  
  a:hover {
    font-weight: bold;
  }
  
  a:active {
    font-weight: bold;
    text-decoration: none;
  }

  footer {
      margin: auto;
      text-align: center;
  }